.names p{
	text-align: right;
	font-size: 1.3em;
}
.inputs input, select{
	width: 40%;
}
.inputs textarea{
	width: 40%;
	min-width: 40%;
	min-height: 120px;
}
.inputs select{
	height: 25px;
}
.bold{
	font-weight: bold;
}
.message{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.message p{
	padding: 10px 0;
	text-align: center;
	font-size: 1.3em;
}
.row{
	margin: 0;
	padding: 0;
}
.content{
	margin-top: 5px;
}
.message-wrap{
	display: none;
}
.comments h1{
	text-align: center;
}
.commentTable table{
	width: 100%;
}
.commentTable th, td{
	text-align: center;
}
.otvet{
	width: 100%;
	border: none;
	font-size: 1.2em;
}
body{
	padding: 20px;
}
.pointer i{
	cursor: pointer;
}