body{
	width: 100%;
	font-family: "Open Sans";
}
.top-row{
	background-color: #0F0F0F;
	color: #C7DCB3;
	text-align: center;
}
.top-text{
	padding: 12px 0;
}
.top-row i{
	margin-right: 5px;
	color: #EE3939;
}
.top-row a{
	color: #C7DCB3;
	text-decoration: none;
}
.navbar-brand{
	margin-left: 15px;
}
.row{
	margin: 0;
}
.navbar{
	font-size: 1.0em;
}
.slider{
	width: 100%;
}
.carousel-caption h2{
    margin: 0;     
    color: #FEFEFE;
    padding-top: 310px;
    font-size: 1.6em/100%;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background-color: #666;
    text-align: center;
    height: 700px !important;
}
.item img{
	max-width: 100%;
	margin: 0 auto;
	min-width: 80%;
	min-height: 100%;
}
.carousel{
    margin-top: 0px;
}
.carousel-caption h2{
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.big{
	text-align: center;
	margin: 30px;
	color: #ED2A2A;
	font-size: 4.0em/100%;
}
.announce{
	padding: 5px 10px;
	overflow: hidden;
	margin-bottom: 15px; 
}
.announce:hover{
	box-shadow: 0px -3px 5px #333;
}
.an-picture{
	height: 100%;
	position: relative;
}
.an-picture img{
	width: 100%;
}
.soon{
	background-color: #F0F0F0;
	padding-bottom: 50px;
}
.img-soon{
	padding: 10px;
}
.img-soon img{
	width: 100%;
}
.navbar{
	margin-bottom: 0;
}
.bottom-row{
	background-color: #0F0F0F;
	color: #C7DCB3;
	padding: 50px 0;
}
.bottom-row a{
	color: #C7DCB3;
	text-decoration: none;
}
.bottom-row li{
	list-style-type: none;
	padding: 5px 0;
}
.bottom-row ul{
	margin: 0;
	padding: 0;
}
.footer-H{
	font-size: 1.6em;
}
.contacts i{
	margin-right: 5px;
	color: #ED2A2A;
}
.formInput{
	width: 93%;
	padding: 7px;
	color: black;
	max-width: 93%;
	min-width: 93%;
	min-height: 35px;
}
.submit{
	margin-top: 10px;
	color: white;
	font-weight: bold;
	padding: 10px 26px;
	background-color: #EE3939;
	border: 0;
}
.submit:hover{
	color: black;
	background-color: white;
	outline: 1px dotted black;
}
.raspisanie{
	background-color: #F0F0F0;
}
.raspisanie h1{
	text-align: center;
	padding: 20px 0;
}
.table table{
	width: 100%;
}
.table th{
  padding: 30px 0;
  text-align: center;
  background-color: #191919;
  color: white;
}
.table tr{
	text-align: center;
}
.table td{
	padding: 25px 0;
}
.table tr:nth-child(odd){
  background: #F0F0F0;
}
.table tr:nth-child(even){
  background: white;
}
.filter p{
	padding: 0;
	margin: 0;
}
.miniInput{
	width: 50px;
	height: 20px;
	border: none;
	border-bottom: 1px solid #666;
}
.filter-wrap table{
	width: 100%;
}
.filter-wrap tr{
	height: 70px;
	max-width: 100%;
}
.filter-wrap th{
	padding: 30px 0;
	text-align: center;
	background-color: #191919;
	color: white;
}
.filter-wrap td{
	padding: 20px 0;
	text-indent: 25px;
	max-width: 100%;
}
.filter-wrap tr:nth-child(odd){
  background: #F0F0F0;
}
.filter-wrap tr:nth-child(even){
  background: white;
}
.filter-wrap select{
	border: none;
}
@media (max-width: 480px){
	.filter-wrap select{
		max-width: 250px;
	}
}
@media (min-width: 980px) and (max-width: 1500px){
	.filter-wrap select{
		max-width: 250px;
	}
}
.bold{
	font-weight: bold;
}
.filterOn{
	dborder-top: 1px solid black;
}
#filterOn{
	float: right;
}
#filterReset{
	float: left;
}
.cena{
	background-color: #F0F0F0;
}
.cena h1{
	text-align: center;
	padding: 20px 0;
}
.plan-zala img{
	width: 100%;
}
.plan-zala{
	padding: 20px 0;
	background-color: #F0F0F0;
}
.cena th{
	min-width: 80px;
}
.ras-wrap th{
	min-width: 80px;
}
.floatRight{
	float: right;
	margin-right: 5%;
}
.pointer{
	cursor: pointer;
}
.navbar-right input{
	width: 50px;
}
.soonTime{
	position: absolute;
	text-align: center;
	font-size: 3.0em;
	width: 100%;
	text-shadow: 3px 3px 3px black, 0 0 3em black;
	color: white;
	margin-top: 5%;
	padding-right: 20px;
}
.absDescription{
	position: absolute;
	width: inherit;
	height: 100%;
	text-align: justify;
	background-color: #fff;
	opacity: 0.85;
	overflow: auto;
	display: none;
	border: solid 1px #eee;
}
.absDescription p{
	padding: 4%;
}
#vk_groups, #vk_groups iframe{
	width: 100% !important;
	height: 100%;
}
.sessionsToday{
	width: 100%;
	padding: 5px;
	text-align: center;
	background-color: #fff;
	opacity: 0.85;
	display: none;
}
.sessionsToday table{
	width: 100%;
}
.sessionsToday p{
	margin-bottom: 5px;
	font-weight: bold;
}
.sessionsToday td{
	border-radius: 5px;
	padding: 3px 0;
	color: white;
	font-weight: bold;
	border-right: 3px solid white;
}
.sessionsToday td:nth-child(odd){
  background: #FA050A;
}
.sessionsToday td:nth-child(even){
  background: #057BFA;
}