.rules h1{
	text-align: center;
	margin: 40px 0;
}
.otzyvy h1{
	text-align: center;
	margin: 40px 0;
}
.com-img img{
	width: 100%;
}
.com-img{
	width: 13.3%;
	float: left;
}
.black-line{
	background-color: black;
}
.black-line img{
	float: right;
	padding: 2px;
}
.otzyvy, .rules{
	background-color: #F0F0F0;
}
.comments-wrap{
	margin: 15px 0;
}
.comment{
	margin: 15px 0;
	padding-bottom: 15px;
	background-color: white;
	box-shadow: 0px 0px 3px 3px #ccc;
}
.wr{
	padding: 15px;
}
.com-text{
	width: 85%;
	float: right;
}
.com-text textarea{
	min-width: 95%;
	max-width: 95%;
}
.nameComment{
	width: 95%;
	margin-bottom: 5px;
}
.non-margin{
	margin: 0;
}
.comment-img{
	width: 8%;
	float: left;
}
.comment-img img{
	width: 100%;
}
.comment-text{
	width: 90%;
	float: right;
}
.wrp{
	padding: 5px;
}
.otzyv{
	overflow: hidden;
}
.otvet{
	width: 92%;
	padding: 5px;
	margin-left: 8%;
}
.rules{
	text-align: justify;
}
.rules li{
	list-style-type: none;
}